/*animate__fadeInLeft*/
body {
    background: 
    radial-gradient(circle at top left, rgba(0, 100, 255, 0.1) 10%, transparent 50%),  
    radial-gradient(circle at bottom right, rgba(0, 50, 150, 0.05) 10%, transparent 50%),  
    linear-gradient(50deg, rgba(0, 0, 40, 0.1) 0%, rgba(0, 0, 20, 0.2) 100%),  
    linear-gradient(325deg, #000000 70%, #000000 850%, #000000 100%);  
    background-color: #000000;  
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    overflow-x: hidden;
    box-sizing: border-box;
}

#sect1{
    padding-top: 5%;
    position: relative;
    padding-bottom: 10%;
    
}
#cornerCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
margin-left: 0%;
pointer-events: none;
  }
#content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
#text-content {
    position: relative;
    max-width: 60%;
    text-align: left;
    padding-left: 45px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    margin-left: 30px;
}
#text-content>h1 {
    font-size: 4.5rem;
    font-family: 'Orbitron', sans-serif;
    white-space: nowrap;
    bottom: 0%;
    margin-bottom: 0%;
    
}
#text-content>p:first-of-type{
    font-size: 1.3rem;
margin-top: 0%;
padding-left: 15px;
}
#text-content>p{
    white-space: nowrap;
    padding-top: 10px;
}
#div1-hr > hr {
    border: none; /* Quitamos el borde */
    height: 1px; /* Ajusta el grosor */
    background: linear-gradient(55deg, 
      #00ffcc,  /* Verde oscuro */
      rgb(20, 255, 145),  /* Verde neón */
      #00ffbf,  /* Chartreuse */
      #00ffd0   /* Verde puro */
    );
    margin-left: 10px;
    margin-right: 60px;

  }
  
#canvas-container {
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: 20px;
    top: 0;
    left: 0;
}

canvas {
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    padding-left: 20px;
}

#contact{
    position: absolute;
    width: 100%;
    margin-top: 30px;
    /*border-color: #ffcc00; amarillo*/
    display: flex;
    align-items: center;
    padding-left: 20px;
padding-left: 100px;
}
#contact>a{
    text-decoration: none;
    padding-left: 20px;
}
#contact>a{
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

#contact a:nth-of-type(1) i { 
    background: linear-gradient(45deg, #25D366, #00ffcc);  /* WhatsApp - verde degradado */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Asegura que el texto sea transparente */
}


#contact a:nth-of-type(2) i { 
    background: linear-gradient(25deg, #d4b538, #ff9900, #b1b105);  /* Gmail - amarillo anaranjado */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Asegura que el texto sea transparente */
}

#contact a:nth-of-type(3) i { 
    background: linear-gradient(45deg, #0077B5, #00aaff);  /* LinkedIn - azul degradado */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Asegura que el texto sea transparente */
}

#contact a:nth-of-type(4) i { 
    background: linear-gradient(45deg, #E1306C, #ff6f91);  /* Instagram - rosa degradado */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Asegura que el texto sea transparente */
}


/*Seccion 2*/
#sect2>div>h1:first-of-type{
    font-size: 4.5rem;
    font-family: 'Orbitron', sans-serif;
}
#skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}
.skill {
    text-align: center;
}
.skill i {
    font-size: 3rem;
    color: #00ffcc; /* Color neón */
    margin-bottom: 10px;
}
.skill p {
    padding-top: 10px;
    font-size: 1.2rem;
    color: #ffffff; /* Color blanco */
    font-family: 'Orbitron', sans-serif;
}

/*Seccion 3*/
#sect3>h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 4.5rem;
}
/* Contenedor principal */
#projects-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 45px;
    
}

/* Lista de proyectos (lado izquierdo) */
#projects-list {
    width: 30%;
    height: 100%; /* Altura fija */
    overflow-y: auto; /* Scroll vertical si es necesario */
    background-color: #1e1e1e80;
    padding: 20px;
    border-radius: 10px;
    position: sticky; /* Fija la lista mientras se desplaza el contenido */
    top: 0; /* Se mantiene en la parte superior */
}

.project-item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #414040;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-item:hover {
    background-color: #00ffcc; /* Color neón al hacer hover */
}
.project-item:hover > p, .project-item:hover > h3 {
color: black; /* Color neón al hacer hover */
}

.project-item h3 {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 5px;
}

.project-item p {
    font-size: 0.9rem;
    color: #cccccc;
    text-align: justify;
}

/* Visualización del proyecto (lado derecho) */
#project-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 0; /* Se mantiene en la parte superior */

}

.project-image {
    width: 100%;
    height: 300px; /* Altura fija para la imagen */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e80; /* Fondo oscuro semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    opacity: 1; /* Siempre visible */
    transition: opacity 0.5s ease;
}
/*52 712 175 2711 */
/* Eliminamos el hover del overlay */
/* .project-image:hover .project-overlay {
    opacity: 1;
} */


.project-overlay h2 {
    font-size: 2rem;
    color: #00ffcc; /* Color neón */
    margin-bottom: 10px;
}

.project-overlay p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 15px;
}

.project-overlay a {
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #00ffcc;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-overlay a:hover {
    background-color: #00ffcc;
    color: #1e1e1e;
}

/* Habilidades del proyecto */
.project-skills {
    background-color: #1e1e1e80;
    padding: 20px;
    border-radius: 10px;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;

}

.project-skills h2 {
    font-size: 1.5rem;
    color: #00ffcc; /* Color neón */
    margin-bottom: 15px;
}

.project-skills ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;

}

.project-skills li {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
}

.project-skills i {
    margin-right: 10px;
    color: #00ffcc; /* Color neón */
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-left: 7px;
    padding-bottom: 5px;
}
.project-description {
    margin-top: 0%;
    text-align: justify;
    white-space: pre-line; /* Respeta los saltos de línea (\n) */
    font-size: 1rem;
    color: #ffffff;
    padding-left: 25px;
    padding-right: 50px;
}
.project-description>h2{
    font-size: 2.5rem;
    bottom: 0;
    font-family: 'Orbitron', sans-serif;
}
.project-description>p{
    padding-left: 25px;
margin-top: 0;

}